*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #613b1f;
  opacity: 0.8;
}

::selection {
  color: #613b1f;
  background: #f5f2f0;
}

body {
  background-color: #fff;
}

a {
  color: #613b1f;
  transition: color 0.3s;
}
a:hover {
  color: #a05619;
}
a:active {
  color: #7a4316;
}

/* inline code*/
code {
  color: #a05619;
}

/* code blocks*/
pre {
  margin-bottom: 1.5rem !important;
  margin-top: 0 !important;
}
