:root {
  --color-primary: #613b1f;
  --color-secondary: #7a4316;
  --color-tertiary: #f5f2f0;
  --color-bg: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: var(--color-primary);
  opacity: 0.8;
}

::selection {
  color: var(--color-primary);
  background: var(--color-tertiary);
}

body {
  background-color: var(--color-bg);
}

a {
  color: var(--color-primary);
  transition: color 0.3s;
}
a:hover {
  color: var(--color-secondary);
}

/* inline code*/
code {
  color: var(--color-secondary);
}

/* code blocks*/
pre {
  margin-bottom: 1.5rem !important;
  margin-top: 0 !important;
}
