*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

a {
  color: #613b1f;
  transition: color 0.3s;
}
a:hover {
  color: #a05619;
}
a:active {
  color: #7a4316;
}

/* inline code in md files*/
code {
  color: #a05619;
}

/* code blocks in md files */
pre {
  margin-bottom: 1rem !important;
}
